registry=https://pkgs.dev.azure.com/schwarzit/_packaging/cake/npm/registry/
@cake-hub:registry=https://registry.npmjs.org/
always-auth=true
nodedir=/usr/local

//registry.npmjs.org/:_authToken=${NPM_TOKEN}

#auth-token to access private repository
//pkgs.dev.azure.com/schwarzit/_packaging/cake/npm/registry/:username=ANYTHING-BUT-EMPTY
//pkgs.dev.azure.com/schwarzit/_packaging/cake/npm/registry/:_password=${AUTH_TOKEN}
//pkgs.dev.azure.com/schwarzit/_packaging/cake/npm/registry/:email=${AUTH_MAIL}
//pkgs.dev.azure.com/schwarzit/_packaging/cake/npm/registry/:always-auth=true

#proxy-settings
proxy=${PROXY_URL}
https-proxy=${PROXY_URL}
