.cookie-alert {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  color: $cookie-alert-color;
  background-color: $cookie-alert-bg-color;

  @include media-breakpoint-up(md) {
    position: static;
    width: auto;
  }

  & > .container-responsive {
    display: flex;
    align-items: center;
  }
}

.cookie-alert-content {
  flex-shrink: 1;
  flex-grow: 1;
  @include cake-font-size($cookie-alert-font-size);
}

.cookie-alert-button-wrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-left: 1rem;
}

.cookie-alert-hide {
  display: none;
}

dialog:not([open]) {
  display: none;
}
